{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}新規作成{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">商品名</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">販売価格</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="body1">仕入値+手数料+送料</label>
    <textarea name="body1" id="body1">{{ request.form['body1'] }}</textarea>
    <label for="body2">純利益</label>
    <textarea name="body2" id="body2">{{ request.form['body2'] or post['body2'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}